<div class="container">
  <div class="col-sm-12">
    <div class="shadow">Portfolio</div>
    <div class="normal">Portfolio</div>
  </div>
  <div class="col-sm-12">
    <div class="intro">intro</div>
  </div>
  <div class="col-sm-12">
    <div class="col-sm-4">
      <h3 class="Breathtaking-digital">Breathtaking digital experience
for Acadmi.</h3>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="col-sm-6">
      <div class="col-sm-10 col-sm-push-2" align="center">
          <div class="line"></div>
      </div>
      <div class="col-sm-10 col-sm-push-2" >
          <h3 class="Breathtaking-digital margin-bottom_10">Breathtaking digital experience
for Acadmi.</h3>
      <p class="Our-team-is-a-combin">Our team is a combination of Silicon Valley veterans and completely fresh talent…</p>
      <button class="btn btn-primary">Project Details</button>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="https://github.com/mueksh1925/DayOne/src/portfolio-individual/1.png" class="img-responsive">
    </div>
  </div>
  <div class="col-sm-12">
    <div class="col-sm-6">
      <img src="https://github.com/mueksh1925/DayOne/src/portfolio-individual/2.png" class="img-responsive">
    </div>
    <div class="col-sm-6">
      <div class="col-sm-10 col-sm-push-2" align="center">
          <div class="line"></div>
      </div>
      <div class="col-sm-10 col-sm-push-2" >
          <h3 class="Breathtaking-digital margin-bottom_10">Breathtaking digital experience
for Acadmi.</h3>
      <p class="Our-team-is-a-combin">Our team is a combination of Silicon Valley veterans and completely fresh talent…</p>
      <button class="btn btn-primary">Project Details</button>
      </div>
    </div>
    
  </div>
  <div class="col-sm-12">
   
    <div class="col-sm-6">
      <div class="col-sm-10 col-sm-push-2" align="center">
          <div class="line"></div>
      </div>
      <div class="col-sm-10 col-sm-push-2" >
          <h3 class="Breathtaking-digital margin-bottom_10">Breathtaking digital experience
for Acadmi.</h3>
      <p class="Our-team-is-a-combin">Our team is a combination of Silicon Valley veterans and completely fresh talent…</p>
      <button class="btn btn-primary">Project Details</button>
      </div>
    </div>
     <div class="col-sm-6">
      <img src="https://github.com/mueksh1925/DayOne/src/portfolio-individual/3.png" class="img-responsive">
    </div>
  </div>
   <div class="col-sm-12">
     <div class="col-sm-6">
      <img src="https://github.com/mueksh1925/DayOne/src/portfolio-individual/4.png" class="img-responsive">
    </div>
    <div class="col-sm-6">
      <div class="col-sm-10 col-sm-push-2" align="center">
          <div class="line"></div>
      </div>
      <div class="col-sm-10 col-sm-push-2" >
          <h3 class="Breathtaking-digital margin-bottom_10">Breathtaking digital experience
for Acadmi.</h3>
      <p class="Our-team-is-a-combin">Our team is a combination of Silicon Valley veterans and completely fresh talent…</p>
      <button class="btn btn-primary">Project Details</button>
      </div>
    </div>
   
  </div>
  <div class="col-sm-12" align="center">
    <button class="btn btn-primary">Load More Projects</button>
  </div>
  <div class="col-sm-12" align="center">
    <h3 class="Big-or-Small-Fast-o">Big or Small. Fast or Slow. 
You are an email away to glow.</h3>
<h4>Whatever your needs, we're looking 
forward to hearing from you.</h4>
<button class="btn btn-primary Drop-Us-a-Line">Drop Us a Line</button>
  </div>
</div>